.group-balances-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px grey solid;
  padding: 0 0.5rem;
}

.group-balances-item * {
  margin: 1rem 0;
}

.group-member-balance {
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(63, 63, 67);
}

.neg-balance {
  background-color: brown;
}

.pos-balance {
  background-color: rgb(0, 95, 29);
}
