.group-header {
  padding: 1rem 0.5rem 0 0.5rem;
}

.group-header-members {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.group-header-members li {
  padding: 0 8px;
  border-right: 1px solid black;
  font-weight: bold;
  font-size: 0.7rem;
}

.group-header-members > li:last-child {
  border: none;
}

.group-header-members > li:first-child {
  padding-left: 0;
}

.group-header-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.group-title {
  margin: 0;
  padding: 0.5rem 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-color: gray;
  color: white;
  height: 2rem;
  margin: 2rem 2rem 2rem;
}

.nav div {
  cursor: pointer;
}

.share-btn {
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
  background-color: white;
  width: 8rem;
}

.view-selected {
  font-weight: bold;
  color: black;
}

.title-edit {
  display: flex;
  justify-content: space-between;
}

.share-add-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.group-member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
