.group-form-container {
  padding-top: 1.5rem;
}

.group-form {
  display: flex;
  flex-direction: column;
}

.form-label-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form-buttons {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
