.expense-shares-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px gray solid;
  padding: 0 0.5rem;
}

.expense-shares-item * {
  margin-bottom: 0.5rem;
}
