.add-expense-bar {
  display: flex;
  padding: 0 0.5rem;
}

.add-expense-bar > div {
  flex-basis: 100%;
  border: 1px gray solid;
  display: flex;
}

.expense-comments {
  margin-top: 3rem;
}

.expense-comments > h4 {
  padding: 0.5rem 0.5rem;
  background-color: gray;
  color: white;
  margin-bottom: 1rem;
}
