.navbar {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  /* margin: 1rem 0 2rem 0; */
  padding: 1rem 0.5rem;
  border-bottom: 2px black solid;
}

.logout-btn {
  margin-left: auto;
}

.back-btn {
  margin-right: auto;
}

.app-logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  justify-self: center;
}
