.expense-card {
  border-bottom: 1px gray solid;
  padding: 0 0.5rem;
}

.expense-card-subdiv {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.expense-card-subdiv * {
  margin: 0;
}
