.shares-inputs-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.shares-inputs-item > * {
  min-width: 0;
}

.shares-input {
  width: 3rem;
  margin-left: 2rem;
}
.shares-input-field {
  width: 8rem;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}
